body {
    padding: 0;
    margin: 0;
    background-color: rgb(215, 214, 214);
}

#container {
    background-color: white;
    width: 85%;
    margin: 5em auto;
}

#nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(215, 214, 214, 0.3);
    padding: 1.5em
}

.logo {
    width: 10em;
    height: auto;
}

.navigation {
    text-align: center;
}

.home {
    font-weight: bold;
    font-size: 1em;
    padding-right: 20px;
    color: #000;
}

.home, .home_bar, .about {
    text-decoration: none;
}

.home_bar {
    font-size: 1em;
    color: #cdcdcd;
    padding-right: 20px;
}

.about {
    color: #cdcdcd
}

.log_in_nav {
    display: flex;
    align-items: center;
}

.login {
    color: #01C698;
    margin-right: 5px;
}

.signup {
    color: #FFF;
    background-color: #01C698;
    border: 1px solid #01C698;
    border-radius: 3em;
    margin: 0 0 0 1.5em;
    height: 3em;
    width: 8em;
}

#section1 {
    display: flex;
}

.inner {
    display: flex;
    justify-content: space-between;
    min-width: 800px;
}

.sec1_left {
    flex-wrap: wrap;
    width: 50%;
    margin: 5em 0 0 5em
}

.hashtag1 {
    color: #FFB600;
    background-color: #ffdf90c7;
    width: max-content;
    border: 1px solid #ffdf90c7;
    border-radius: 3em;
    padding: 1px 5px;
}

.header {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.header span {
    color:#01C698;
}

.discription {
    color:#cdcdcd;
    font-size: 1em;
    padding-bottom: 1em;
}

.categories {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-radius: 1em;
    box-shadow: 0px 2px 5px 3px rgba(125,125,125,0.07);
    -webkit-box-shadow: 0px 2px 5px 3px rgba(125,125,125,0.07);
    -moz-box-shadow: 0px 2px 5px 3px rgba(125,125,125,0.07);
}

.search {
    padding: 10px; 
    text-decoration: none;
    color: #cdcdcd;
    margin: 5px
}

.search_job {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #01C698;
    border-radius: 1em;
    margin: 5px 10px 5px 5px;
    color: white;
}

.sec_right {
    width: 50%
}

#section2 {
    background-color: #f0fefc;
    display: flex;
    justify-content: center;
}